In [1]:
a=10
print(a,type(a))

10 <class 'int'>

In [2]:
a=5
b=10
print(a,b)
print(a,b,a+b)
print(a,b,a+b,sep='\n')

5 10
5 10 15
5
10
15

In [ ]:
c=a+b
print(a)
print(b)
print(c)

In [ ]:
a=10
print(a)

In [4]:
x=10
y=3
z=x/y
print(z)

3.3333333333333335

In [6]:
print(f'{x}/{y}={z:.2f}')

10/3=3.33

In [8]:
print(x,"/",y,"=",round(z,2))

10 / 3 = 3.33

In [10]:
n1='Sara'
n2='Elizabeth'
n3='Sam'
a1,a2,a3=22,21,23
print(f'{n1:10} {a1}')
print(f'{n2:10} {a2}')
print(f'{n3:20} {a3}')

Sara       22
Elizabeth  21
Sam                  23

In [12]:
n1="Akash"
n2='kumar'
n3='singh'
a1,a2,a3=21,32,12
print(f'{n1:30} {a1}')
print(f'{n2:20} {a2}')
print(f'{n3:10} {a3}')

Akash                          21
kumar                32
singh      12