In [4]:
for i in range(10):
    print(i ,end=' ')

0 1 2 3 4 5 6 7 8 9

In [5]:
for i in range(5,100,5):
    print(i ,end=' ')

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95

In [6]:
for i in range(10,0,-1):
    print(i ,end=' ')

10 9 8 7 6 5 4 3 2 1

In [7]:
data=[12,45,56,53,10,34,564]
#traversal of list
for i in data:
    print(i,end=' ')

12 45 56 53 10 34 564

In [13]:
prices=[12,45,None,56,53,None,59,10,None,34,563]
for i in prices:
    if(i == None):
        continue
    print(i,end=' ')

12 45 56 53 59 10 34 563

In [23]:
# prices=[12,45,None,56,53,None,59,10,None,34,563]
for i in prices:
    if(i != None):
        print(i,end=' ')

12 45 56 53 59 10 34 563

In [26]:
# prices=[12,45,None,56,53,None,59,10,None,34,563]
for i in prices:
    if i==None:
        break
    print(i)
print('Loop End')

12
45
Loop End

In [30]:
for i in range(5):
    for j in range(i):
        print("*",end=' ')
    print("")

*
* *
* * *
* * * *

In [31]:
for i in range(5):
    for j in range(i):
        print(j,end=' ')
    print("\n")

0

0 1

0 1 2

0 1 2 3

In [1]:
for i in range(5):
    for j in range(i):
        print(i,end=' ')
    print("\n")

1

2 2

3 3 3

4 4 4 4

In [34]:
for i in range(6):
    for j in range(0,i):
        print(j,end=' ')
    print("\n")

0

0 1

0 1 2

0 1 2 3

0 1 2 3 4

In [2]:
# emurate keyword is used to display index with their values

In [4]:
names=['gopal','shiv','ram','hanuman','lakshman','murali']
for name in enumerate(names):
    print(name)

(0, 'gopal')
(1, 'shiv')
(2, 'ram')
(3, 'hanuman')
(4, 'lakshman')
(5, 'murali')

In [6]:
for idx,val in enumerate(names):
    print(idx,val)

0 gopal
1 shiv
2 ram
3 hanuman
4 lakshman
5 murali

In [7]:
X=[1,2,3,1,2,4,2,1,5,6,2,1,1,3,3,2,2,4,3,2,1]
for idx,val in enumerate(X):
    if idx==10:
        break
    print(idx,val)

0 1
1 2
2 3
3 1
4 2
5 4
6 2
7 1
8 5
9 6

# zip()is used to print the all the element index of the list

In [13]:
X=[1,2,3,4]
Y=[2,3,1,4]
Z=[3,2,4,1,6]
for i in zip(X,Y,Z):
    print(i)

(1, 2, 3)
(2, 3, 2)
(3, 1, 4)
(4, 4, 1)

In [14]:
for i,j,k in zip(X,Y,Z):
    print(i+j+k)

6
7
8
9

In [17]:
# for-else
'''if all the iteration of the loops are completed without any break statement then the else part is executed else part is not executed if the loop is terminated by a break statement'''

'if all the iteration of the loops are completed without any break statement then the else part is executed else part is not executed if the loop is terminated by a break statement'

In [21]:
val=[1,2,1,2,23,14,13,12,13,15,24,45,23]
for i in val:
    if i==13:
        break
    print(i)
else:
    print("completed without break")

1
2
1
2
23
14

In [24]:
num=7
for i in range(2,num):
    print(f'{num}%{i}={num%i}')
    if num%i==0:
        print("not prime")
        break
else:
    print("prime")

7%2=1
7%3=1
7%4=3
7%5=2
7%6=1
prime