In [1]:
x=(12,45,65) # tuple creation
print(x)
print(type(x))

(12, 45, 65)
<class 'tuple'>

In [1]:
a=1,2,3,4 #tuple packing
print(a)

(1, 2, 3, 4)

In [3]:
w,x,y,z=a   #tuple unpacking
print(w,x,y,z)
first,*rest=a       #first value will be stored in first variable.
# rest will be stored in rest variable as list

1 2 3 4

In [5]:
print(first,rest)

1 [2, 3, 4]

In [6]:
fname,*lname ="Akash Kumar Singh".split()
print(fname,lname,sep="\n")

Akash
['Kumar', 'Singh']

In [7]:
x=('banana','mango','cherry','cherry','papaya')
print(x.count('cherry'))

2

In [8]:
print(x.count('Akash'))

0

In [9]:
x=[1,2,3,4]
xt=tuple(x)
print(x,xt)
xl=list(xt)
xs=set(x)
xts=set(xt)
print(xl,xs,xts)

[1, 2, 3, 4] (1, 2, 3, 4)
[1, 2, 3, 4] {1, 2, 3, 4} {1, 2, 3, 4}

Set

In [11]:
a={2,3,2,1,4,5,34,6,2,3,1}
print(a)
print(type(a))

{1, 2, 3, 4, 5, 34, 6}
<class 'set'>

In [17]:
b=set() #empty set
b.add('hello')
b.add('bolo')
b.add('kyu')
b.add('Jao')
b.add('Ruko')
b.add('Naccho')
b.add('Gaao')
b.add('kyu')
print(b)

{'hello', 'Gaao', 'Ruko', 'kyu', 'Naccho', 'Jao', 'bolo'}

In [18]:
b.discard('Hello')
b.discard('gaao')

In [19]:
print(b)

{'hello', 'Gaao', 'Ruko', 'kyu', 'Naccho', 'Jao', 'bolo'}

In [20]:
b.add('BAlo')

In [21]:
print(b)

{'hello', 'Gaao', 'Ruko', 'kyu', 'Naccho', 'Jao', 'bolo', 'BAlo'}

Set Operation

In [23]:
a={1,2,3,4}
b={3,4,5,6}
c={1,2,3,4,5,6,7,8,9,10}
d={5,6,7,8,9,10}

In [24]:
print(a.union(b))       # a|b

{1, 2, 3, 4, 5, 6}

In [26]:
print(a.intersection(b))    # a&b

{3, 4}

In [27]:
print(a.difference(b))      # a-b

{1, 2}

In [28]:
print(c.difference(d))

{1, 2, 3, 4}

In [29]:
print(a.symmetric_difference(b))

{1, 2, 5, 6}

In [30]:
print(a,b,c,d)

{1, 2, 3, 4} {3, 4, 5, 6} {1, 2, 3, 4, 5, 6, 7, 8, 9, 10} {5, 6, 7, 8, 9, 10}

In [31]:
a.issuperset(b)

False

In [32]:
b.issuperset(a)

False

In [33]:
b.issuperset(c)

False

In [34]:
c.issuperset(d)

True