In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

In [21]:
df=pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Car%20Price.csv')

In [22]:
#   before changing column name.
df.head()

,Brand,Model,Year,Selling_Price,KM_Driven,Fuel,Seller_Type,Transmission,Owner
0,Maruti,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [23]:
#   Changing column name.
df.rename(columns={'Seller_Type':'Seller','Selling_Price':'SellPrice','KM_Driven':'KM'},inplace=True)

In [24]:
df.head()

,Brand,Model,Year,SellPrice,KM,Fuel,Seller,Transmission,Owner
0,Maruti,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [25]:
df.shape

(4340, 9)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         4340 non-null   object
 1   Model         4340 non-null   object
 2   Year          4340 non-null   int64
 3   SellPrice     4340 non-null   int64
 4   KM            4340 non-null   int64
 5   Fuel          4340 non-null   object
 6   Seller        4340 non-null   object
 7   Transmission  4340 non-null   object
 8   Owner         4340 non-null   object
dtypes: int64(3), object(6)
memory usage: 305.3+ KB

In [27]:
df.isnull().sum()

Brand           0
Model           0
Year            0
SellPrice       0
KM              0
Fuel            0
Seller          0
Transmission    0
Owner           0
dtype: int64

In [28]:
df.replace({'Seller':{'Individual':0,'Dealer':1,'Trustmark Dealer':2}},inplace=True)
df.replace({"Fuel":{'Petrol':0,'Diesel':1,'CNG':2,'LPG':3,'Electric':4}},inplace=True)
df.replace({'Transmission':{'Manual':0,'Automatic':1}},inplace=True)
df.replace({'Owner':{'First Owner':0,'Second Owner':1,'Third Owner':2,'Fourth & Above Owner':4,'Test Drive Car':3}},inplace=True)

In [29]:
df.columns

Index(['Brand', 'Model', 'Year', 'SellPrice', 'KM', 'Fuel', 'Seller',
       'Transmission', 'Owner'],
      dtype='object')

In [30]:
X=df[['Year','KM','Fuel','Seller','Transmission','Owner']]
y=df[['SellPrice']]

In [31]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [32]:
model=RandomForestRegressor()

In [33]:
model.fit(X_train,y_train)

c:\Users\akash\miniconda3\Lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor()

In [34]:
y_pred=model.predict(X_test)

In [35]:
r2_score(y_test,y_pred)

0.6776090079188073

In [36]:
import pickle

In [37]:
pickle.dump(model,open('model.pkl','wb'))