In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
pd.read_excel('canada.xlsx',sheet_name=1,skiprows=20,skipfooter=2)

In [ ]:
df=pd.read_excel('canada.xlsx',sheet_name=1,skiprows=20,skipfooter=2)

In [ ]:
pd.set_option('display.max_columns',None)
# pd.set_option('display.set.precision',2)

In [ ]:
df

In [ ]:
# what to Learn
#     -selection of data
#         row selection
#             head
#             tail
#             slicing
#             iloc
#             loc
#         column selection
#             object style
#             dictionary style

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.tail(3)  #bottom 5 columns

In [ ]:
df[:10]     #same as head(10)

In [ ]:
df[50:100]  #rows 50 to 100

In [ ]:
df.iloc[0]  # first row

In [ ]:
df.iloc[-1] #last row

In [ ]:
df.iloc[[0,5,10,15]]

In [ ]:
df.iloc[:50]

In [ ]:
df.iloc[30,:5]

In [ ]:
df.iloc[:,:5]

In [ ]:
df.iloc[:,[0,2,5,7,10]] # all rows, column 0,2,5,7,10

In [ ]:
# list all column names
df.columns

In [ ]:
print(df.columns.tolist())

In [ ]:
df['OdName']    #column as a series

In [ ]:
df[1980]

In [ ]:
# multiple columns
col_list=['OdName',1980,1981,1982,1983,1984,1985]
df[col_list]

In [ ]:
df[['OdName','AreaName',1980,1990,2000,2010]]

In [ ]:
df[['OdName','AreaName',1980,1990,2000,2010]][5:50] #Selected cols and selected rows

Maths and satas

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()   #numerical columns summary

In [ ]:
df.describe(exclude=np.number)  #non-numerical columns summary

In [ ]:
df

In [ ]:
df[2010].sum()

In [ ]:
df[[1980,1981,1982,1983,1984,1985]].sum()

In [ ]:
df[[1980,1981,1982,1983,1984,1985]].sum(axis=1)

In [ ]:
years=list(range(1980,2014))
print(years)

In [ ]:
df[years]

In [ ]:
df[years].sum(axis=1).plot(kind='line')

In [ ]:
df['total']=df[years].sum(axis=1)
df.head(5)

In [ ]:
plt.figure(figsize=(25,3),dpi=300)
plt.bar('OdName','Total',data=df)
plt.xticks(rotation=90)
plt.show()

In [ ]:
df['faltu']=10

In [ ]:
df['kuch bhi']=[1,2,3,4,5]*39       #this is just an example, don't do this
df

In [ ]:
df[2013]=df[1980]

In [ ]:
df['anpther column']=df[2013]-df[1980]

In [ ]:
df

In [ ]:
# add to pandas dataframe row wise

In [ ]:
small_df1=df[:10]
small_df2=df[185:]

In [ ]:
pd.concat([small_df1, small_df2])

remove columns

In [ ]:
df

to drop columns
    -df.drop()   -> removes columns
to drop rows
    -df.drop()  ->removes rows
    -df.dropna()    ->removes rows with NaN
    -df.drop_duplicates()   ->removes row with duplicate value

In [ ]:
cols_to_drop=[
    'AREA','REG','DEV','Type','Coverage',
    'faltu','kuch bhi','anpther column'
]

df.drop(columns=cols_to_drop,inplace=True)

In [ ]:
df.drop_duplicates(subset=['AreaName'])     #just an example

In [ ]:
df

Ordering columns

In [ ]:
df.columns

In [ ]:
reordered_cols=['OdName', 'AreaName',  'RegName',  'DevName',   'total',    1980,       1981,
             1982,       1983,       1984,       1985,       1986,       1987,
             1988,       1989,       1990,       1991,       1992,       1993,
             1994,       1995,       1996,       1997,       1998,       1999,
             2000,       2001,       2002,       2003,       2004,       2005,
             2006,       2007,       2008,       2009,       2010,       2011,
             2012,       2013,    

]
reordered_cols

In [ ]:
df=df[reordered_cols]   #columns in the order you want
df.head()

In [ ]:
df.rename(columns={
    'OdName':'Country',
    'AreaName':'Continent',
    'RegName':'Region',
    'DevName':'Status',   
}, inplace=True)

In [ ]:
df.head()

Sorting

In [ ]:
df.sort_values(by='total',inplace=True,
    ascending=False)    #descending order
df

In [ ]:
df.sort_values(by='total', inplace=True)
df

Visualize

In [ ]:
plt.bar('Country','total',data=df.head(10))
plt.xticks(rotation=90)
plt.show()

In [ ]:
import seaborn as sns

In [ ]:
sns.barplot(x='Country',y='total',hue='Status',data=df.head(10))
plt.xticks(rotation=90)
plt.show()

In [ ]:
df

In [ ]:
df.loc[79,years].plot(kind='area',figsize=(20,4))

In [ ]:
df.loc[(79,36),years].T.plot(kind='area',figsize=(20,4),stacked=False,alpha=0.5)

In [ ]:
df

In [ ]:
#how to changing the index to another column

In [ ]:
df.index

In [ ]:
df.set_index("Region",inplace=True)    #make country as index

In [ ]:
df

In [ ]:
df.set_index('Country',inplace=True)

In [ ]:
df.head()

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.set_index('Country',inplace=True)

In [ ]:
df

In [ ]:
df.loc['Japan',years].plot(kind='bar')

In [ ]:
countries=['Japan','China','India','Pakistan','Bangladesh']
df.loc[countries,years].plot(kind='area',alpha=.5)

In [ ]:
countries=['Japan','China','India','Pakistan','Bangladesh']
df.loc[countries,years].T.plot(kind='area',alpha=.5)

In [ ]:
df

In [ ]:
df.groupby('Continent')

In [ ]:
df.groupby('Continent').get_group('Asia')

In [ ]:
df.groupby('Continent')[years].sum()

In [ ]:
df.groupby('Continent')[years].sum().plot(figsize=(15,4))

In [ ]:
df.groupby('Continent')[years].sum().T.plot(figsize=(15,4))

In [ ]:
df.groupby('Continent')[years].agg(['min','max'])

In [ ]:
df.groupby('Continent')[years].agg(['min','max']).plot()

In [ ]:
df.groupby('Continent')[years].agg(['min','max']).T.plot()

In [ ]:
continent_df=df.groupby('Continent')[years].sum()

In [ ]:
continent_df

In [ ]:
df.groupby(['Continent','Status'])[years].mean()

In [196]:
df.groupby(['Continent','Status'])[years].mean().reset_index()

,Continent,Status,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Africa,Developing regions,73.166667,80.796296,70.722222,49.462963,48.870370,49.074074,70.037037,138.777778,139.851852,183.222222,203.925926,263.481481,356.333333,306.129630,242.074074,274.185185,290.740741,267.981481,255.388889,296.222222,376.777778,449.851852,420.555556,432.703704,522.074074,509.685185,540.518519,523.777778,553.518519,639.518519,757.259259,656.314815,705.240741,73.166667
1,Asia,Developed regions,701.000000,756.000000,598.000000,309.000000,246.000000,198.000000,248.000000,422.000000,324.000000,494.000000,379.000000,506.000000,605.000000,907.000000,956.000000,826.000000,994.000000,924.000000,897.000000,1083.000000,1010.000000,1092.000000,806.000000,817.000000,973.000000,1067.000000,1212.000000,1250.000000,1284.000000,1194.000000,1168.000000,1265.000000,1214.000000,701.000000
2,Asia,Developing regions,631.750000,699.125000,617.000000,508.062500,563.083333,492.750000,593.562500,891.270833,981.875000,1245.041667,1509.375000,1863.708333,1878.062500,2038.125000,1831.166667,1866.625000,2125.750000,2197.062500,1875.666667,2203.354167,2781.958333,3062.312500,2850.979167,2728.166667,2789.104167,3295.541667,3080.041667,2754.354167,2887.708333,2921.666667,3389.104167,3033.937500,3145.916667,631.750000
3,Europe,Developed regions,924.651163,1041.906977,993.488372,572.976744,518.302326,484.744186,566.744186,1086.000000,1272.697674,1416.116279,1588.395349,1347.395349,1491.232558,1463.651163,1454.209302,1296.837209,1294.000000,1135.837209,853.930233,828.813953,888.720930,994.860465,855.767442,803.627907,885.627907,836.162791,768.674419,778.953488,806.790698,815.767442,777.325581,622.744186,678.534884,924.651163
4,Latin America and the Caribbean,Developing regions,396.393939,461.060606,508.151515,467.484848,414.484848,459.727273,641.787879,862.757576,664.363636,759.393939,846.727273,1115.969697,1147.060606,1025.454545,646.696970,614.000000,565.000000,520.424242,419.090909,457.212121,512.060606,608.090909,585.363636,614.030303,672.151515,749.909091,747.757576,788.212121,804.454545,814.151515,873.272727,844.121212,823.424242,396.393939
5,Northern America,Developed regions,4689.000000,5015.000000,4537.000000,3550.000000,3330.500000,3271.500000,3537.000000,3852.500000,3234.500000,3395.000000,2947.500000,3028.500000,3423.000000,3719.000000,2951.000000,2445.500000,2758.000000,2376.500000,2218.500000,2598.000000,2716.500000,2802.000000,2474.000000,2771.500000,3495.000000,4197.000000,4806.500000,4731.500000,5095.000000,4497.500000,4071.000000,3838.500000,3946.000000,4689.000000
6,Oceania,Developed regions,652.000000,559.500000,424.000000,228.500000,240.500000,233.500000,266.000000,337.500000,305.000000,395.000000,445.000000,433.500000,537.500000,619.000000,468.000000,439.000000,459.000000,402.000000,312.500000,343.500000,405.500000,579.500000,534.000000,610.500000,640.000000,639.500000,596.500000,691.500000,749.000000,769.000000,711.500000,613.000000,699.500000,652.000000
7,Oceania,Developing regions,53.166667,60.000000,68.916667,46.750000,33.083333,37.750000,31.000000,43.750000,47.583333,62.416667,98.750000,135.666667,149.666667,110.666667,85.916667,57.250000,52.833333,38.250000,33.000000,30.666667,38.750000,54.916667,51.416667,48.250000,42.333333,25.500000,23.333333,25.833333,28.000000,26.833333,34.250000,26.833333,23.333333,53.166667

In [198]:
df.groupby(['Continent','Status'])['Total'].sum()

KeyError: 'Column not found: Total'